<div class="container">
  <p>This page was made with <a target="_blank" href="https://angular.io/">Angular</a> and <a target="_blank" href="https://js.tensorflow.org/">tensorFlow.js</a>.</p>
  <p>The prediciton model used is based on pre-trained model from a convolutional neural network trained on the <a target="_blank" href="http://yann.lecun.com/exdb/mnist/">MNIST</a> handwritten digit dataset which is comprised of over 60 thousand handwritten digits which have been normalized to 28x28 pixels.</p>
  <p>Wondering why the model defaults on an empty canvas to a prediction of 1? The digit 1 (usually) corresponds to the least amount of "active" pixels!</p>
</div>

