<div class="container">
    <b>Ready to race?</b><br>
    Input the numbers displayed as fast as possible.<br>
    The timer starts on the first prediction. GLHF!
</div>
<div class="flex-wrapper">

    <app-letter-canvas (prediction)="onPredict($event)"></app-letter-canvas>
    <div class="challenge-wrapper">
        <div *ngFor="let challenge of challenges" class="challenge">
            {{ challenge }}
        </div>
        <div *ngIf="state === 'finished'" class="challenge">{{ 'win!' | uppercase }}</div>
        <div *ngIf="state === 'finished'" class="reset" (click)="reset()">{{ 'Want to try again?' | uppercase }}</div>
        <div  class="prediction-wrapper">
            {{ prediction != undefined ? ('Last prediciton: ' +prediction) : 'No predictions yet'}}<br>
            {{ 'Time: ' + (currentTime | timer)  + 's' }}
        </div>
        
    </div>
</div>
