.challenge {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-family: 'Gaegu', cursive; 
    border: 1px solid #444;
    text-align: center;
}

.challenge:first-child {
    width: 64px;
    height: 64px;
    line-height: 64px;
}

.box-text {
    flex: initial;
    height: 64px;
    line-height: 64px;
    padding: 0 0.5em;
    font-family: 'Gaegu', cursive; 
    border: 1px solid #444;
    text-align: center;
    cursor: pointer;
}

.box-text:hover {
    background-color: tomato;
}

.box-text:active {
    background-color: orangered;
    color: white;
}