<div class="container">
  <b>Welcome to numb3rflow bootcamp!</b><br>
  Draw a <i>digit</i> (any of the numerals from 0 to 9) in the canvas below.<br>
  Simply click and drag.<br>
  Once you're done drawing place your mouse outside of the canvas to have the model predict your input!<br>
</div>
<div class="flex-wrapper">
    <app-letter-canvas (prediction)="onPrediction($event)"></app-letter-canvas>
    <div class="prediction-wrapper">
        {{ 'prediciton' | uppercase }}
        <div class="predicted-number" *ngIf="prediction != undefined">
            {{ prediction }}
        </div>
    </div>
</div>
<div class="container small-margin-top">
  Once you feel like you're ready for some speed drawing, press <a routerLink="/flow">flow</a> in the menu!
</div>

